{% extends 'partials/base.html' %}

{% block title %}{{ folder.name }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ folder.name }}</h3>
                    <div class="card-tools">
                        <a href="{% url 'correspondence:folder_update' folder.pk %}" class="btn btn-warning">
                            <i class="fas fa-edit"></i> Modifier
                        </a>
                        <a href="{% url 'correspondence:folder_delete' folder.pk %}" class="btn btn-danger">
                            <i class="fas fa-trash"></i> Supprimer
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Informations générales</h4>
                            <table class="table">
                                <tr>
                                    <th>Nom</th>
                                    <td>{{ folder.name }}</td>
                                </tr>
                                <tr>
                                    <th>Description</th>
                                    <td>{{ folder.description|linebreaks }}</td>
                                </tr>
                                <tr>
                                    <th>Dossier parent</th>
                                    <td>{{ folder.parent.name|default:"-" }}</td>
                                </tr>
                                <tr>
                                    <th>Créé par</th>
                                    <td>{{ folder.created_by.get_full_name }}</td>
                                </tr>
                                <tr>
                                    <th>Date de création</th>
                                    <td>{{ folder.created_at|date:"d/m/Y H:i" }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <h4>Partagé avec</h4>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Utilisateur</th>
                                            <th>Organisation</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in folder.shared_with.all %}
                                        <tr>
                                            <td>{{ user.get_full_name }}</td>
                                            <td>{{ user.organisation.name }}</td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="2" class="text-center">Aucun utilisateur partagé.</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <h4>Correspondances dans ce dossier</h4>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Code</th>
                                            <th>Nom</th>
                                            <th>Date</th>
                                            <th>Type</th>
                                            <th>Statut</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for correspondence in folder.correspondences.all %}
                                        <tr>
                                            <td>{{ correspondence.code }}</td>
                                            <td>{{ correspondence.name }}</td>
                                            <td>{{ correspondence.date|date:"d/m/Y" }}</td>
                                            <td>{{ correspondence.get_document_type_display }}</td>
                                            <td>{{ correspondence.get_status_display }}</td>
                                            <td>
                                                <a href="{% url 'correspondence:detail' correspondence.pk %}" class="btn btn-sm btn-info">
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="6" class="text-center">Aucune correspondance dans ce dossier.</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <h4>Sous-dossiers</h4>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Description</th>
                                            <th>Créé par</th>
                                            <th>Date de création</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for subfolder in folder.children.all %}
                                        <tr>
                                            <td>{{ subfolder.name }}</td>
                                            <td>{{ subfolder.description|truncatewords:30 }}</td>
                                            <td>{{ subfolder.created_by.get_full_name }}</td>
                                            <td>{{ subfolder.created_at|date:"d/m/Y H:i" }}</td>
                                            <td>
                                                <a href="{% url 'correspondence:folder_detail' subfolder.pk %}" class="btn btn-sm btn-info">
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="5" class="text-center">Aucun sous-dossier.</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 