{% extends "partials/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'communicability_list' %}active{% endif %}" href="{% url 'tools:communicability_list' %}">
                            <i class="fas fa-comments"></i> Communicabilités
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'activity_list' %}active{% endif %}" href="{% url 'tools:activity_list' %}">
                            <i class="fas fa-tasks"></i> Activités
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'sort_list' %}active{% endif %}" href="{% url 'tools:sort_list' %}">
                            <i class="fas fa-sort"></i> Sorts
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'retention_list' %}active{% endif %}" href="{% url 'tools:retention_list' %}">
                            <i class="fas fa-archive"></i> Rétentions
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'law_type_list' %}active{% endif %}" href="{% url 'tools:law_type_list' %}">
                            <i class="fas fa-gavel"></i> Types de Lois
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'law_list' %}active{% endif %}" href="{% url 'tools:law_list' %}">
                            <i class="fas fa-book-law"></i> Lois
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'law_article_list' %}active{% endif %}" href="{% url 'tools:law_article_list' %}">
                            <i class="fas fa-paragraph"></i> Articles de Lois
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'retention_law_article_list' %}active{% endif %}" href="{% url 'tools:retention_law_article_list' %}">
                            <i class="fas fa-link"></i> Rétention-Article
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'organisation_list' %}active{% endif %}" href="{% url 'tools:organisation_list' %}">
                            <i class="fas fa-building"></i> Organisations
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'organisation_activity_list' %}active{% endif %}" href="{% url 'tools:organisation_activity_list' %}">
                            <i class="fas fa-project-diagram"></i> Organisation-Activité
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Main content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">{% block page_title %}{% endblock %}</h1>
                {% block page_actions %}{% endblock %}
            </div>
            {% block page_content %}{% endblock %}
        </main>
    </div>
</div>
{% endblock %} 