{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'workspace_list' %}active{% endif %}" 
                           href="{% url 'workspace:workspace_list' %}">
                            <i class="fas fa-home"></i> Workspaces
                        </a>
                    </li>
                    {% if workspace %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'folder_list' %}active{% endif %}" 
                           href="{% url 'workspace:folder_list' workspace.pk %}">
                            <i class="fas fa-folder"></i> Folders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'workspace_member_list' %}active{% endif %}" 
                           href="{% url 'workspace:workspace_member_list' workspace.pk %}">
                            <i class="fas fa-users"></i> Members
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <!-- Main content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">{% block page_title %}{% endblock %}</h1>
                {% block page_actions %}{% endblock %}
            </div>
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% block workspace_content %}{% endblock %}
        </main>
    </div>
</div>
{% endblock %} 